:{$PORT}

root * /srv

# Handle .wasm files
@wasm {
    path *.wasm
}
header @wasm Content-Type application/wasm

# General handler for .gz files
@gz {
    path *.gz
}
header @gz Content-Encoding gzip

# Serve files
file_server

@notFile {
    not path /favicon.ico
    not file
}
rewrite @notFile /index.html

