:{$PORT}

root * /srv

@wasm {
    path *.wasm
}
header @wasm Content-Type application/wasm

@wasmGz {
    path *.wasm.gz
}
header @wasmGz Content-Type application/wasm
header @wasmGz Content-Encoding gzip

file_server
